version: '3.6'
services:
  server:
    container_name: api
    build:
      context: ./demo-container.server
      dockerfile: Dockerfile
#    volumes: 
#      - ./demo-container.server:/usr/src/app
    expose: 
      - 5000
    environment: 
      - FLASK_ENV=production

  client: 
    container_name: client
    build:
      context: ./demo-container.webclient
      dockerfile: Dockerfile
    # volumes: 
    #   - './deme-container/webclient:/usr/src/app'
    #   - '/usr/src/app/node_modules'
    # ports:
    #   - '3000:3000'
    environment: 
      - NODE_ENV=production
    expose: 
      - 80
    depends_on:
      - server

  nginx:
    container_name: nginx-server
    build:
      context: ./nginx
      dockerfile: Dockerfile
    restart: always
    ports:
      - 80:80
      - 5000:5000
    depends_on:
      - server
      - client